body {
    background-color:aquamarine;
        }
        
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        }
        
    li {
            float: left;
        }
        
    a {
            display: block;
            background-color:gray;
            color: white;
            padding: 10px;
        }